
$default-font-size: 1.6rem;

// Colors

$color-bg-primary: #F5F2ED;
$color-bg-secondary: #F4F4F4;

$color-main: #FAE6E5;

$color-footer: #FAE6E5;

$color-button: #FAAEAA;

$color-text-light: #FFFFFF;
$color-text-dark: #707070;

