$default-font-size: 1.6rem;

// Colors

$color-bg-primary: #f5f2ed;

$color-main: #fae6e5;

$color-footer: #fae6e5;

$color-button: #faaeaa;

$color-text-light: #ffffff;
$color-text-dark: #707070;

$color-text-hover: #464545;