.contact_info {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40rem;
  margin-bottom: 40rem;

  @include respond(desktop-L) {
    justify-content: space-around;
  }
  @include respond(tab-port) {
    justify-content: center;
    flex-direction: column-reverse;
  }

  button {
    width: 17.2rem;
    height: 7.1rem;
  }

  &__container {
    align-items: center;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30rem;
    @include respond(tab-port) {
      margin-top: 30rem;
    }
  }

  &__text {
    width: 47rem;
    margin-bottom: 1rem;
    font-size: 2rem;

    @include respond(laptop-L) {
      font-size: 1.8rem;
    }

    @include respond(tab-port) {
      text-align: center;
    }
    
    @include respond(phone-L) {
      width: 22rem;
      text-align: left;
      font-size: 2rem;
    }

    a {
      color: inherit;
    }
  }

  &__tree {
    display: flex;
    position: absolute;
    top: 18rem;
    right: -19rem;
    z-index: -100;
    transform: rotate(280deg) rotateY(180deg);

    @include respond(desktop-4K) {
      transform: rotate(280deg) rotateY(180deg) scale(150%);
    }

    @include respond(desktop-3K) {
      transform: rotate(280deg) rotateY(180deg) scale(120%);
    }

    @include respond(desktop-XL) {
      transform: rotate(280deg) rotateY(180deg) scale(120%);
      right: -24rem;
    }

    @include respond(desktop-L) {
      transform: rotate(280deg) rotateY(180deg) scale(100%);
      top: 12rem;
      right: -27rem;
    }

    @include respond(desktop-M) {
      transform: rotate(280deg) rotateY(180deg) scale(100%);
      top: 12rem;
      right: -27rem;
    }

    @include respond(laptop-L) {
      transform: rotate(280deg) rotateY(180deg) scale(70%);
      top: 5rem;
      right: -32rem;
    }

    @include respond(laptop-M) {
      transform: rotate(280deg) rotateY(180deg) scale(60%);
      top: -10rem;
      right: -44rem;
    }

    @include respond(tab-port) {
      position: relative;
      align-content: center;
      align-items: center;
      justify-content: center;
      right: 37rem;
      top: 123rem;
      height: 0rem;
      transform: rotate(60deg) rotateY(180deg) scale(80%);
    }

    @include respond(phone-XL) {
      right: 31rem;
      top: 122rem;
    }

    @include respond(phone-L) { 
      transform: rotate(60deg) rotateY(180deg) scale(130%) ;    
      right: 22rem;
      top: 110rem;
    }

    @include respond(phone-M) {
      right: 16rem;
      top: 100rem
    }
    @include respond(phone-S) {
     
    }

  }
  &__image {
    margin-top: 20rem;
    width: 510px;
    height: 510px;
    border: 0.5rem solid #fff;
    border-radius: 50%;

    @include respond(desktop-L) {
      width: 400px;
      height: 400px;
    }

    @include respond(laptop-L) {
      width: 300px;
      height: 300px;
    }

    @include respond(laptop-M) {
      width: 250px;
      height: 250px;
    }

    @include respond(tab-port) {
      width: 500px;
      height: 500px;
      border-radius: 0.3rem;
    }

    @include respond(phone-L) {
      display: flex;
      width: auto;
      height: auto;
      border: 1rem solid #fff;
    }

    img {
      border-radius: 50%;
      @include respond(tab-port) {
        border-radius: 0.3rem;
      }
    }
  }
}
