.contact__info {
  display: flex;
  flex-direction: row;
  height: 80rem;
  justify-content: space-around;
  margin: 3rem;

  button {
    width: 17.2rem;
    height: 7.1rem;
  }

  &__container {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    margin-left: 50px;
  }

  &__text {
    width: 450px;
    margin-bottom: 1rem;

    a {
      color: inherit;
    }


  }

  &__tree {
    position: absolute;
    right: -35rem;
    top: 90rem;
    z-index: -100;
    transform: rotate(280deg) rotateY(180deg);
  }

  &__image {
    margin-top: 20rem;
    width: 30rem;
    height: 30rem;
    border: 5px solid #fff;
    border-radius: 50%;

    img {
      border-radius: 50%;
    }
  }
}
