.contact_us_form_main {
  display: flex;
  flex-direction: row;
  border: .4rem solid #ffffff;
  border-radius: .3rem;
  opacity: 1;

  input {
    width: 100%;
    height: 5.1rem;
    border: .1rem dashed #dbccca;
    background: #fdf3f2 0% 0% no-repeat padding-box;
  }
}

.contact-us-one {
  width: 100%;
  margin: 5rem;
}

.contact-us-two {
  width: 100%;
  height: 27.3rem;
  margin: 5rem;

  textarea {
    width: 48rem;
    height: 27.3rem;
    border: .1rem dashed #dbccca;
    background: #fdf3f2 0% 0% no-repeat padding-box;
  }
}

.contact-us-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  button {
    width: 36.3rem;
    height: 6.3rem;
    border: .3rem solid #ffffff;
    border-radius: .3rem;
    opacity: 1;
  }
}
