.contact {
  background-color: #fae6e5;
  padding: 1rem;
  margin: 5rem 25rem;
  border-radius: 0.3rem;

  &__container {
    border: 0.4rem solid #ffffff;
    border-radius: 0.3rem;
    opacity: 1;
    padding: 7.5rem;
  }

  &__title {
    font-size: 4.2rem;
  }
}

.form {
  display: flex;
  flex-flow: row wrap;
  margin-top: 5rem;
  justify-content: space-between;

  &__input {
    &:not(:last-child) {
      margin-bottom: 3.8rem;
    }
    input {
      width: 100%;
      height: 3.5rem;
      border: 0.1rem dashed #dbccca;
      background: #fdf3f2 0% 0% no-repeat padding-box;
    }
  }

  &__part1 {
    width: 36rem;
  }

  &__part2 {
    width: 36rem;
    height: 27.3rem;

    textarea {
      width: 100%;
      height: 20.4rem;
      border: 0.1rem dashed #dbccca;
      background: #fdf3f2 0% 0% no-repeat padding-box;
    }
  }

  &__part3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__checkbox {
      margin-right: 1rem;
    }
  }
  .btn__submit {
    width: 36.3rem;
    height: 6.3rem;
    border: none;
    border-radius: 0.3rem;
    opacity: 1;
    background-color: #faaeaa;
    padding: 0.7rem;
    margin-top: 2rem;

    &:hover {
      cursor: pointer;
    }

    &--border {
      border: 0.3rem solid #ffffff;
      border-radius: 0.3rem;
      height: 100%;
      width: 100%;
    }

    &--text {
      margin-top: 1.5rem;
      color: #ffffff;
    }
  }

  &__button__box {
    width: 100%;
    display: flex;
    justify-content: center;

  }
}
