.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__contact {
    display: flex;
    justify-content: space-around;
    margin: 10rem 0 10rem 0;
    width: 50%;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    @include respond(desktop-XL) {
      font-size: 1.8rem;
    }
    @include respond(desktop-L) {
      font-size: 1.7rem;
    }
    @include respond(laptop-L) {
      width: 65%;
    }
    @include respond(tab-port) {
      flex-direction: column;
      height: 9rem;
      width: auto;
      text-align: left;
    }
  }

  &__shape {
    position: relative;
    bottom: 0;
    &--desktop {
      @include respond(tab-port) {
        display: none;
      }
    }
    &--mobile {
      display: none;
      @include respond(tab-port) {
        display: block;
      }
    }
    &--walborg {
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: translate(-50%);
      height: 18%;
      width: 18%;
      @include respond(tab-port) {
        width: 60%;
        height: 10%;
      }
    }
    &--text {
      position: absolute;
      top: 55%;
      left: 50%;
      width: 100%;
      padding: 0 20%;
      text-align: center;
      font-size: 1.8rem;
      letter-spacing: 2px;
      transform: translate(-50%);
      text-transform: uppercase;
      color: #f4f4f4;
      @include respond(desktop-XL) {
        font-size: 1.4rem;
      }
      @include respond(desktop-L) {
        font-size: 1.2rem;
      }
      @include respond(laptop-L) {
        font-size: 1rem;
      }
      @include respond(tab-port) {
        font-size: 1.8rem;
        top: 40%;
      }
      @include respond(phone-XL) {
        font-size: 1rem;
        width: 90%;
      }
      @include respond(phone-M) {
        width: 100%;
      }
    }
  }

  &__partners {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 50%;
    top: 67%;
    left: 50%;
    transform: translate(-50%);
    color: #f4f4f4;

    :nth-child(2) {
      margin-top: 2rem;
    }

    @include respond(tab-port) {
      width: 100%;
      height: 50%;
      flex-direction: column;
      align-items: center;
      top: 45%;

      :nth-child(2) {
        margin-top: 0;
      }
    }

    &--logo {
      height: 15%;
      width: 16%;
      @include respond(tab-port) {
        width: 20%;
      }
    }
  }
}
