.venue {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-bottom: 40rem;
  margin-top: 27.9rem;
  @include respond(tab-port) {
   height: 24.7rem;
  }
  @include respond(phone-L) {
    margin-top: 22rem;
  }
  @include respond(phone-M) {
    margin-top: 17rem;
  }

  &__info {
    @include respond(phone-L) {
      margin-left: 1.5rem;
    }
    &--title {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.78rem;
      font-weight: 700;
      @include respond(phone-M) {
        font-size: 1.3rem;
      }
    }

    &--description {
      width: 60rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      text-align: center;

      @include respond(phone-L) {
        width: 40rem;
      }

      @include respond(phone-M) {
        width: 30rem;
        margin-left: 2rem;
      }
    }
  }

  button {
    width: 15.2rem;
    height: 6.8rem;
  }

  &__tree {
    display: flex;
    position: absolute;
    top: -5rem;
    right: -19rem;
    z-index: -100;
    @include respond(desktop-4K) {
      transform: scale(150%);
    }

    @include respond(desktop-3K) {
      transform: scale(120%);
    }

    @include respond(desktop-M) {
      width: 100rem;
      top: 4rem;
      right: -40rem;
    }

    @include respond(laptop-L) {
      width: 70rem;
      right: -16rem;
      top: 0;
    }

    @include respond(tab-port) {
      position: relative;
      align-content: center;
      align-items: center;
      justify-content: center;
      width: 70rem;
      right: 0%;
      top: -40rem;
      transform: rotate(-40deg) rotateY(180deg);
    }

    @include respond(phone-L) {
      width: 55rem;
    }
    @include respond(phone-S) {
      width: 40rem;
      top: -26rem;
    }
  }

  // &__coverbox {
  //   position: absolute;
  //   height: 20rem;
  //   width: 100%;
  //   z-index: -99;
  //   top: 53rem;
  //   background-color: $color-bg-primary;

  //   @include respond(desktop-M) {
  //     top: 63rem;
  //   }
  //   @include respond(laptop-L) {
  //     top: 47rem;
  //   }
  //   @include respond(tab-port) {
  //     top: 46rem;
  //   }
  // }
}
