@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* Set border box to be inherited */
}

html {
  font-size: 62.5%;
  /* allows user to zom in on page (change font size) px won't work*/
}
@media only screen and (min-width: 187.5em) {
  html {
    font-size: 112.5%;
  }
}
@media only screen and (max-width: 187.5em) {
  html {
    font-size: 100%;
  }
}
@media only screen and (max-width: 162.5em) {
  html {
    font-size: 87.5%;
  }
}
@media only screen and (max-width: 125em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f5f2ed;
}

.wrapper {
  overflow-x: hidden;
}

body {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #707070;
}

.btn__submit {
  position: relative;
  width: 25rem;
  height: 6rem;
  border: none;
  border-radius: 0.3rem;
  opacity: 1;
  background-color: #faaeaa;
  padding: 0.7rem;
  margin-top: 2rem;
}
.btn__submit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #faaeaa;
  border-radius: 0.3rem;
  transition: all 0.4s;
  z-index: -2;
}
.btn__submit:hover::before {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  cursor: pointer;
}
.btn__submit:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}
.btn__submit:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
}
.btn__submit--border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3rem solid #ffffff;
  border-radius: 0.3rem;
  height: 100%;
  width: 100%;
}
.btn__submit--text {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
  font-family: brandon-grotesque, sans-serif;
}

.hover-btn {
  display: block;
  position: relative;
  font-size: 2.5rem;
  font-family: sans-serif;
  letter-spacing: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 4rem 8rem;
  border-radius: 10rem;
  transition: all 0.2s;
  background-color: #2ce771;
}
.hover-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2ce771;
  border-radius: 10rem;
  transition: all 0.4s;
  z-index: -1;
}
.hover-btn:hover::before {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.hover-btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
}
.hover-btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
}

.collage {
  margin-bottom: 25rem;
}
@media only screen and (max-width: 162.5em) {
  .collage {
    margin-bottom: 20rem;
  }
}
@media only screen and (max-width: 112.5em) {
  .collage {
    margin-bottom: 15rem;
  }
}
@media only screen and (max-width: 87.5em) {
  .collage {
    margin-bottom: 10rem;
  }
}
@media only screen and (max-width: 20em) {
  .collage {
    margin-bottom: 5rem;
  }
}
.collage--big {
  display: block;
}
@media only screen and (max-width: 125em) {
  .collage--big {
    display: none;
  }
}
.collage--normal {
  display: none;
}
@media only screen and (max-width: 125em) {
  .collage--normal {
    display: block;
  }
}
@media only screen and (max-width: 37.5em) {
  .collage--normal {
    display: none;
  }
}
.collage--small {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .collage--small {
    display: block;
  }
}

.contact {
  display: flex;
  background-color: #fae6e5;
  padding: 1rem;
  margin: 5rem auto;
  border-radius: 0.3rem;
  background-color: #fae6e5;
  width: 100rem;
}
@media only screen and (max-width: 56.25em) {
  .contact {
    width: 54rem;
  }
}
@media only screen and (max-width: 32.75em) {
  .contact {
    width: 100%;
  }
}
.contact__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 0.4rem solid #ffffff;
  border-radius: 0.3rem;
  opacity: 1;
  padding: 7.5rem;
}
@media only screen and (max-width: 32.75em) {
  .contact__container {
    padding: 7.5rem 1rem;
  }
}
@media only screen and (max-width: 23.438em) {
  .contact__container {
    justify-content: center;
  }
}
.contact__title {
  font-size: 4.2rem;
  font-weight: 500;
  width: 100%;
}
@media only screen and (max-width: 56.25em) {
  .contact__title {
    text-align: center;
  }
}

.form {
  display: flex;
  flex-flow: row wrap;
  margin-top: 2rem;
  justify-content: space-between;
}
@media only screen and (max-width: 32.75em) {
  .form {
    justify-content: center;
  }
}
@media only screen and (max-width: 23.438em) {
  .form {
    width: 80%;
  }
}
.form__input:not(:last-child) {
  margin-bottom: 2.6rem;
}
@media only screen and (max-width: 56.25em) {
  .form__input:last-child {
    margin-bottom: 2.6rem;
  }
}
.form__input input {
  padding-left: 0.5rem;
  width: 100%;
  height: 3.5rem;
  border: none;
  background: #fdf3f2;
  color: #707070;
  outline: none;
  font-size: 1.2rem;
  border-radius: 3px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='3' ry='3' stroke='%23DBCCCAFF' stroke-width='1' stroke-dasharray='10%2c 7' stroke-dashoffset='11' stroke-linecap='square'/%3e%3c/svg%3e");
}
.form__input input::placeholder {
  color: #b9b9b9;
}
.form__part1 {
  width: 36rem;
}
@media only screen and (max-width: 23.438em) {
  .form__part1 {
    width: 100%;
  }
}
.form__part2 {
  width: 36rem;
  height: 27.3rem;
}
@media only screen and (max-width: 23.438em) {
  .form__part2 {
    width: 100%;
  }
}
.form__part2 textarea {
  width: 100%;
  height: 20.4rem;
  padding-left: 0.5rem;
  padding-top: 1rem;
  border: none;
  background: #fdf3f2;
  font-family: brandon-grotesque, sans-serif;
  color: #707070;
  outline: none;
  font-size: 1.2rem;
  resize: none;
  border-radius: 3px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='3' ry='3' stroke='%23DBCCCAFF' stroke-width='1' stroke-dasharray='10%2c 7' stroke-dashoffset='11' stroke-linecap='square'/%3e%3c/svg%3e");
}
.form__part2 textarea::placeholder {
  color: #b9b9b9;
}
.form__part3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.form__part3__checkbox {
  margin-right: 1rem;
}
.form__part3__checkbox input {
  appearance: none;
  background-color: #fdf3f2;
  border: none;
  border-radius: 0.3rem;
  height: 1.7rem;
  width: 1.7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='3' ry='3' stroke='%23DBCCCAFF' stroke-width='1' stroke-dasharray='5%2c7' stroke-dashoffset='11' stroke-linecap='square'/%3e%3c/svg%3e");
}
.form__part3__checkbox input::after {
  content: "✔";
  color: #fff;
  display: none;
  font-size: 1.3rem;
}
.form__part3__checkbox input:hover {
  background-color: #dbccca;
}
.form__part3__checkbox input:checked {
  background-color: #faaeaa;
  border-color: #faaeaa;
}
.form__part3__checkbox input:checked::after {
  display: block;
}
.form .privacy-policy {
  font-size: 1.3rem;
}
.form .privacy-policy span {
  color: #bf5267;
  cursor: pointer;
}
.form .privacy-policy span:hover {
  color: #eb6b84;
}
.form__button__box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__contact {
  display: flex;
  justify-content: space-around;
  margin: 10rem 0 10rem 0;
  width: 50%;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.footer__contact a {
  color: #707070;
}
.footer__contact a:hover {
  color: #464545;
}
@media only screen and (max-width: 162.5em) {
  .footer__contact {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 125em) {
  .footer__contact {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 87.5em) {
  .footer__contact {
    width: 65%;
  }
}
@media only screen and (max-width: 56.25em) {
  .footer__contact {
    flex-direction: column;
    height: 9rem;
    width: auto;
    text-align: left;
  }
}
.footer__shape {
  position: relative;
  bottom: 0;
}
@media only screen and (max-width: 56.25em) {
  .footer__shape--desktop {
    display: none;
  }
}
.footer__shape--mobile {
  display: none;
}
@media only screen and (max-width: 56.25em) {
  .footer__shape--mobile {
    display: block;
  }
}
.footer__shape--walborg {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%);
  height: 18%;
  width: 18%;
}
@media only screen and (max-width: 56.25em) {
  .footer__shape--walborg {
    width: 60%;
    height: 10%;
  }
}
.footer__shape--text {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 100%;
  padding: 0 20%;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 2px;
  transform: translate(-50%);
  text-transform: uppercase;
  color: #f4f4f4;
}
@media only screen and (max-width: 162.5em) {
  .footer__shape--text {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 125em) {
  .footer__shape--text {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 87.5em) {
  .footer__shape--text {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .footer__shape--text {
    font-size: 1.8rem;
    top: 40%;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__shape--text {
    font-size: 1rem;
    width: 90%;
  }
}
@media only screen and (max-width: 23.438em) {
  .footer__shape--text {
    width: 100%;
  }
}
.footer__partners {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 50%;
  top: 67%;
  left: 50%;
  transform: translate(-50%);
  color: #f4f4f4;
}
.footer__partners :nth-child(2) {
  margin-top: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__partners {
    width: 100%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    top: 45%;
  }
  .footer__partners :nth-child(2) {
    margin-top: 0;
  }
}
.footer__partners--logo {
  height: 15%;
  width: 16%;
}
@media only screen and (max-width: 56.25em) {
  .footer__partners--logo {
    width: 20%;
  }
}

.hero {
  position: relative;
}
.hero__nav--desktop {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  position: absolute;
  top: -6rem;
  width: 100vw;
}
@media only screen and (max-width: 162.5em) {
  .hero__nav--desktop {
    top: -9rem;
  }
}
@media only screen and (max-width: 125em) {
  .hero__nav--desktop {
    top: -12rem;
  }
}
@media only screen and (max-width: 87.5em) {
  .hero__nav--desktop {
    top: -13rem;
  }
}
@media only screen and (max-width: 75em) {
  .hero__nav--desktop {
    top: -18rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .hero__nav--desktop {
    display: none;
  }
}
.hero__nav--mobile {
  display: none;
}
@media only screen and (max-width: 56.25em) {
  .hero__nav--mobile {
    display: flex;
    top: -90rem;
  }
}
.hero__logo {
  position: absolute;
  left: 50.5%;
  transform: translateX(-53%);
  top: -2rem;
  z-index: 2;
  width: 360px;
  height: 360px;
}
@media only screen and (min-width: 187.5em) {
  .hero__logo {
    width: 330px;
    height: 330px;
  }
}
@media only screen and (max-width: 187.5em) {
  .hero__logo {
    transform: translateX(-52%);
    width: 300px;
    height: 300px;
  }
}
@media only screen and (max-width: 162.5em) {
  .hero__logo {
    transform: translateX(-51%);
    top: -2rem;
    width: 240px;
    height: 240px;
  }
}
@media only screen and (max-width: 125em) {
  .hero__logo {
    top: -2.5rem;
    width: 210px;
    height: 210px;
  }
}
@media only screen and (max-width: 112.5em) {
  .hero__logo {
    top: -2.2rem;
    width: 190px;
    height: 190px;
  }
}
@media only screen and (max-width: 102.5em) {
  .hero__logo {
    transform: translateX(-50%);
    top: -1.7rem;
    width: 170px;
    height: 170px;
  }
}
@media only screen and (max-width: 87.5em) {
  .hero__logo {
    width: 150px;
    height: 150px;
    left: 50.7%;
  }
}
@media only screen and (max-width: 75em) {
  .hero__logo {
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    left: 50.9%;
  }
}
@media only screen and (max-width: 56.25em) {
  .hero__logo {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
    height: 20%;
  }
}
.hero__video-container {
  position: relative;
  z-index: -1;
  height: calc(100vh - 80px);
  width: 100vw;
  top: 7rem;
}
@media only screen and (max-width: 162.5em) {
  .hero__video-container {
    top: 7rem;
  }
}
@media only screen and (max-width: 125em) {
  .hero__video-container {
    top: 6rem;
  }
}
@media only screen and (max-width: 87.5em) {
  .hero__video-container {
    top: 4rem;
  }
}
@media only screen and (max-width: 75em) {
  .hero__video-container {
    top: 3rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .hero__video-container {
    display: none;
  }
}
.hero__video-container--video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.venue {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-bottom: 27.9rem;
  margin-top: 27.9rem;
}
@media only screen and (max-width: 56.25em) {
  .venue {
    height: 24.7rem;
    margin-top: 15rem;
  }
}
@media only screen and (max-width: 32.75em) {
  .venue {
    margin-top: 10rem;
  }
}
@media only screen and (max-width: 32.75em) {
  .venue__info {
    margin-left: 1.5rem;
  }
}
.venue__info--title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.78rem;
  font-weight: 700;
}
@media only screen and (max-width: 23.438em) {
  .venue__info--title {
    font-size: 1.3rem;
  }
}
.venue__info--description {
  width: 60rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.2rem;
}
@media only screen and (max-width: 32.75em) {
  .venue__info--description {
    width: 40rem;
  }
}
@media only screen and (max-width: 23.438em) {
  .venue__info--description {
    width: 30rem;
    margin-left: 2rem;
  }
}
.venue button {
  width: 15.2rem;
  height: 6.8rem;
}
.venue__tree {
  display: flex;
  position: absolute;
  top: -5rem;
  right: -13rem;
  z-index: -100;
}
@media only screen and (min-width: 187.5em) {
  .venue__tree {
    transform: scale(150%);
  }
}
@media only screen and (max-width: 187.5em) {
  .venue__tree {
    transform: scale(120%);
    right: -19rem;
  }
}
@media only screen and (max-width: 162.5em) {
  .venue__tree {
    right: -21rem;
  }
}
@media only screen and (max-width: 125em) {
  .venue__tree {
    transform: scale(100%);
    right: -27.5rem;
    top: -15rem;
  }
}
@media only screen and (max-width: 102.5em) {
  .venue__tree {
    transform: scale(80%);
    right: -32rem;
    top: -15rem;
  }
}
@media only screen and (max-width: 87.5em) {
  .venue__tree {
    transform: scale(70%);
    top: -15rem;
  }
}
@media only screen and (max-width: 75em) {
  .venue__tree {
    transform: scale(50%);
    top: -26rem;
    right: -47rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .venue__tree {
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 70rem;
    right: 0%;
    top: -40rem;
    transform: rotate(-40deg) rotateY(180deg);
  }
}
@media only screen and (max-width: 32.75em) {
  .venue__tree {
    width: 55rem;
    top: -32rem;
  }
}
@media only screen and (max-width: 20em) {
  .venue__tree {
    width: 40rem;
    top: -26rem;
  }
}

.contact_info {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 27.9rem;
  margin-bottom: 30rem;
}
@media only screen and (max-width: 187.5em) {
  .contact_info {
    margin-top: 10rem;
  }
}
@media only screen and (max-width: 125em) {
  .contact_info {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 56.25em) {
  .contact_info {
    margin-top: -24rem;
    justify-content: center;
    flex-direction: column-reverse;
    margin-bottom: 12rem;
  }
}
.contact_info button {
  width: 17.2rem;
  height: 7.1rem;
}
.contact_info__container {
  align-items: flex-start;
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30rem;
}
@media only screen and (max-width: 56.25em) {
  .contact_info__container {
    align-items: center;
    margin-top: 11rem;
    border: #fae6e5 0.5rem solid;
    border-radius: 0.3rem;
    padding: 3rem;
    background-color: #f1eee9;
  }
}
@media only screen and (max-width: 32.75em) {
  .contact_info__container {
    height: 40rem;
    padding: 3rem 6rem;
  }
}
.contact_info__text {
  width: 52rem;
  margin-bottom: 1rem;
  font-size: 2.2rem;
}
@media only screen and (max-width: 87.5em) {
  .contact_info__text {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .contact_info__text {
    text-align: center;
  }
}
@media only screen and (max-width: 32.75em) {
  .contact_info__text {
    width: 22rem;
    text-align: left;
    font-size: 2rem;
  }
}
.contact_info__text a {
  color: inherit;
}
.contact_info__tree {
  display: flex;
  position: absolute;
  top: 18rem;
  right: -12rem;
  z-index: -100;
  transform: rotate(280deg) rotateY(180deg);
}
@media only screen and (min-width: 187.5em) {
  .contact_info__tree {
    transform: rotate(280deg) rotateY(180deg) scale(150%);
  }
}
@media only screen and (max-width: 187.5em) {
  .contact_info__tree {
    transform: rotate(280deg) rotateY(180deg) scale(120%);
    right: -18rem;
  }
}
@media only screen and (max-width: 162.5em) {
  .contact_info__tree {
    transform: rotate(280deg) rotateY(180deg) scale(120%);
    right: -24rem;
  }
}
@media only screen and (max-width: 125em) {
  .contact_info__tree {
    transform: rotate(280deg) rotateY(180deg) scale(100%);
    top: 12rem;
    right: -27rem;
  }
}
@media only screen and (max-width: 112.5em) {
  .contact_info__tree {
    transform: rotate(280deg) rotateY(180deg) scale(100%);
    top: 12rem;
    right: -27rem;
  }
}
@media only screen and (max-width: 87.5em) {
  .contact_info__tree {
    transform: rotate(280deg) rotateY(180deg) scale(70%);
    top: 5rem;
    right: -32rem;
  }
}
@media only screen and (max-width: 75em) {
  .contact_info__tree {
    transform: rotate(280deg) rotateY(180deg) scale(60%);
    top: -10rem;
    right: -44rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .contact_info__tree {
    display: none;
  }
}
.contact_info__image {
  margin-top: 20rem;
  width: 510px;
  height: 510px;
  border: 0.5rem solid #fff;
  border-radius: 50%;
}
@media only screen and (max-width: 125em) {
  .contact_info__image {
    width: 400px;
    height: 400px;
  }
}
@media only screen and (max-width: 87.5em) {
  .contact_info__image {
    width: 300px;
    height: 300px;
  }
}
@media only screen and (max-width: 75em) {
  .contact_info__image {
    width: 250px;
    height: 250px;
  }
}
@media only screen and (max-width: 56.25em) {
  .contact_info__image {
    width: 500px;
    height: 500px;
    border-radius: 0.3rem;
  }
}
@media only screen and (max-width: 32.75em) {
  .contact_info__image {
    display: flex;
    width: auto;
    height: auto;
    border: 1rem solid #fff;
  }
}
.contact_info__image img {
  border-radius: 50%;
}
@media only screen and (max-width: 56.25em) {
  .contact_info__image img {
    border-radius: 0.3rem;
  }
}

.walborg_offer {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
  top: -4rem;
  justify-content: space-evenly;
  align-items: center;
}
.walborg_offer__container {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media only screen and (max-width: 56.25em) {
  .walborg_offer__container {
    flex-direction: column;
    align-items: center;
    margin-top: 30rem;
  }
}
@media only screen and (max-width: 32.75em) {
  .walborg_offer__container {
    flex-direction: column;
  }
}
.walborg_offer__text_container {
  width: 38%;
  height: auto;
  background-color: #fae6e5;
  margin-top: 15rem;
  border-radius: 0.3rem;
}
@media only screen and (max-width: 56.25em) {
  .walborg_offer__text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin: 10rem;
  }
}
@media only screen and (max-width: 32.75em) {
  .walborg_offer__text_container {
    margin: 10rem 1rem;
    width: auto;
  }
}
.walborg_offer__text_container--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.4rem solid #ffffff;
  border-radius: 0.3rem;
  height: auto;
  margin: 0.7rem;
  font-size: 2.2rem;
  padding: 6rem;
}
@media only screen and (max-width: 125em) {
  .walborg_offer__text_container--text {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .walborg_offer__text_container--text {
    z-index: 6;
    text-align: left;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 23.438em) {
  .walborg_offer__text_container--text {
    font-size: 1.8rem;
  }
}
.walborg_offer__tree {
  display: flex;
  position: absolute;
  left: -3rem;
  top: 55%;
  z-index: -100;
  height: 80%;
  width: 23%;
  transform: rotateY(180deg) scale(300%);
}
@media only screen and (max-width: 187.5em) {
  .walborg_offer__tree {
    left: -4rem;
  }
}
@media only screen and (max-width: 125em) {
  .walborg_offer__tree {
    top: 50%;
  }
}
@media only screen and (max-width: 56.25em) {
  .walborg_offer__tree {
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 0rem;
    width: 30rem;
    left: 0%;
    top: -20.2rem;
    transform: translateX(0%) rotate(40deg);
    z-index: 5;
    opacity: 0.7;
  }
}
.walborg_offer__image {
  margin-top: 14rem;
  width: 510px;
  height: 510px;
  border: 0.5rem solid #fff;
  border-radius: 50%;
}
@media only screen and (max-width: 125em) {
  .walborg_offer__image {
    width: 400px;
    height: 400px;
  }
}
@media only screen and (max-width: 87.5em) {
  .walborg_offer__image {
    width: 300px;
    height: 300px;
  }
}
@media only screen and (max-width: 75em) {
  .walborg_offer__image {
    width: 250px;
    height: 250px;
  }
}
@media only screen and (max-width: 56.25em) {
  .walborg_offer__image {
    width: 500px;
    height: 500px;
    border-radius: 0.3rem;
    margin-top: -32rem;
  }
}
@media only screen and (max-width: 32.75em) {
  .walborg_offer__image {
    display: flex;
    width: auto;
    height: auto;
    border: 1rem solid #fff;
    margin-top: -30rem;
  }
}
.walborg_offer__image img {
  border-radius: 50%;
}
@media only screen and (max-width: 56.25em) {
  .walborg_offer__image img {
    border-radius: 0.3rem;
  }
}

/*# sourceMappingURL=style.css.map */
